<div class="content-wrapper">
  <div class="content-block">
    <div class="content">
      <div class="user-about">
        <div class="image">
          <%= image_tag "nouser.png" %>
        </div>
        <div class="profile">
          <div class="name-about">
            <div class="name">
              和食熊谷
            </div>
          </div>
          <div class="detail">
          大正創業の老舗です
        </div>
        </div>
        
        
      </div>
      <div class="text">
          <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストです</p>
        </div>
    </div>
  </div>
</div>